<div id="insertFood">
    <form (submit)="insert()" role="form">
        <div class="form-group row">
            <label for="foodName" class="col-sm-3 col-form-label-lg">Meal name</label>
            <div class="col-sm-9">
                <input name="foodName" type="text" class="form-control" id="foodName" 
                [(ngModel)]="foodElement.foodName" value="doener">
            </div>
        </div>
        <div class="form-group row">
            <label for="foodType" class="col-sm-3 col-form-label-lg">Food type</label>
            <div class="col-sm-9">
                <select name="foodTypes" class="form-control" id="foodType"
                [(ngModel)]="foodElement.foodType">
                    <option *ngFor="let ftype of FoodElement.foodTypes"
                        [ngValue]="ftype">{{ftype}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-sm-3 col-form-label-lg">price</label>
            <div class="col-sm-9">
                <input name="price" type="text" class="form-control" 
                id="price" placeholder="price" required [(ngModel)]="foodElement.price">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label-lg">description</label>
            <div class="col-sm-9">
                <input name="description" type="text" class="form-control" 
                id="description" [(ngModel)]="foodElement.description">
            </div>
        </div>
        <div class="form-group row">
            <label for="vegetarian" class="col-sm-3 col-form-label-lg">vegetarian</label>
            <div class="col-sm-9">
                <select name="vegetarian" class="form-control" id="vegetarian" 
                [(ngModel)]="foodElement.vegetarian">
                    <option value="1">true</option>
                    <option value="0">false</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="alcohol" class="col-sm-3 col-form-label-lg">alcohol</label>
            <div class="col-sm-9">
                <select name="alcohol_existing" class="form-control" id="alcohol" 
                [(ngModel)]="foodElement.alcohol">
                    <option value=1>true</option>
                    <option value=0>false</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="country" class="col-sm-3 col-form-label-lg">country</label>
            <div class="col-sm-9">
                <select name="country" class="form-control" id="country" 
                [(ngModel)]="foodElement.country">
                    <option *ngFor="let c of FoodElement.countries" [ngValue]="c">
                        {{c}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="personCount" class="col-sm-3 col-form-label-lg">Person count</label>
            <div class="col-sm-9">
                <select name="personCount" class="form-control" id="personCount" 
                [(ngModel)]="foodElement.personCount">
                    <option *ngFor="let pCount of [1,2,3,4,5,6,7,8,9]" [ngValue]="pCount">
                        {{pCount}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="optional_addition" class="col-sm-3 col-form-label-lg">Optional addition</label>
            <div class="col-sm-9">
                <input name="optional_addition" type="text" class="form-control" 
                id="optional_addition" [(ngModel)]="foodElement.optional_addition">
            </div>
        </div> 
        <div class="form-group row">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary">Insert</button>
            </div>
        </div> 
    </form>
</div> 



