<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <ul>
      <li *ngIf="auth.isLoggedIn()"><a routerLink="/home">{{ auth.getPersonalGreeting() }}</a></li>
      <li *ngIf="!auth.isLoggedIn()"><a routerLink="/home">{{ auth.getImpersonalGreeting() }}</a></li>
      <li *ngIf="!auth.isLoggedIn()"><a routerLink="/register">Register</a></li>
      <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Log in</a></li>
      <li *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></li>
    </ul>
  </div>
</nav>