<div #accordionListWrapper class="container accordion_list_wrapper">
  <div class="card mb-0"  *ngFor="let item of items; let i = index trackBy: customTrackBy">

      <div class="card-header clickable" (click)="toggle(i)" >
          <div id="productNameWrapper" [ngClass]="status[i] === true ? 'clickablePlus' : 'clickableMinus'">
              <input id="myCheckbox" class="form-control-lg" type="checkbox" color="light">
              <label id="myProductName" class="clickable">{{item.value[0]}} : {{item.value[2]}}</label>
          </div>
      </div>

      <div #expandWrapper class="expand_wrapper" [class.collapsed]="status[i]">
          <div class="card-content">
              <div id="myCardItem" class="card-item" *ngFor="let key of item.key; let j = index">
                  <label id="myProductLable">{{key}}</label>
                  <input id="myProductInput" type="text" [(ngModel)]="items[i].value[j]">
              </div>
          </div>
      </div>

  </div>
</div>


