<mat-accordion [displayMode]="flat" [multi]="true" #entire_accordion="matAccordion"> 
    <mat-expansion-panel *ngFor="let item of foodService.foodElements; let i = index">

        <!----- Header ------>
        <mat-expansion-panel-header>
        <mat-panel-title>
            <b>Name: {{item.foodName}}</b>
        </mat-panel-title>
        <mat-panel-description>
            <b>Preis: {{item.price}} </b>
        </mat-panel-description>

        <mat-panel-description>
                <a mat-flat-button color="warn" (click)="foodService.deleteFoodElement(i)">
                    Delete
                </a>
        </mat-panel-description>
         
        </mat-expansion-panel-header>

        <!----- Body ------>
        <mat-action-row id="myActionRow" *ngFor="let property of foodService.foodProperties">

            <mat-form-field>
                <input matInput value={{property}}>
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="foodService.foodElements[i][property]">
            </mat-form-field>

        </mat-action-row>
        

    </mat-expansion-panel>
</mat-accordion>

