<nav id="myNavBar" class="navbar navbar-expand-sm">
    <div class="container-fluid">

        <ul class = "nav navbar-nav" routerLinkActive="active">
            <li *ngIf="auth.isLoggedIn()">
              <a class="nav-link" routerLink="/order">{{getPersonalGreeting()}}</a>
            </li>
            <li *ngIf="!auth.isLoggedIn()">
              <a class="nav-link" routerLink="/order">{{getImpersonalGreeting()}}
            </a></li>
            <li><a class="nav-link" routerLink="/order">Order Takeaway</a></li>
            <li><a class="nav-link" routerLink="/cart">Cart</a></li>
            <li><a class="nav-link" routerLink="/pay">Bezahlen</a></li>
            <li><a class="nav-link" *ngIf="auth.isAdmin()" routerLink="/insert">Insert</a></li>
            <li><a class="nav-link" routerLink="/insert">Insert</a></li>
            <li><a class="nav-link" *ngIf="auth.isAdmin()" routerLink="/edit">Edit</a></li>
            <li><a class="nav-link" *ngIf="!auth.isLoggedIn()" routerLink="/login">Login</a></li>
            <li><a class="nav-link" *ngIf="!auth.isLoggedIn()" routerLink="/register">Register</a></li>
            <li><a class="nav-link" *ngIf="auth.isLoggedIn()" routerLink="/profile">Profile</a></li>
        </ul>

    </div>
</nav>
